@charset "utf-8";
body{
    font-family: "ヒラギノ角ゴ","Hiragino Kaku Gothic Pro",Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: .8px;
    word-break: break-all;
    color: #333333;
    margin: 10px;
    padding: 10px;
}
#gnav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul{
    list-style: none;
}
ul,li{
    list-style: none;
}
#gnav li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 2px 15px;
    letter-spacing: .05rem;
}
li{
    display: list-item;
    text-align: center;
}
.header{
    width: 100%;
    height: 600px;
    background-color: aquamarine;
}


h1{
    text-align: center;
}

.contaier{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.work-content{
    background-color: aquamarine;
    padding: 15px;
    text-align: center;
}
.work-content img{
    max-width: 60px;
    height: auto;
}
.work-content h4{
    text-align: left;
    color: #333333;
}